body {
    margin: 0px;
    padding: 0px;
}
.navBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
}


.navbar-toggler {
    background-color: aliceblue;
    color: white ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2815, 10, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#hero-container {
    position: relative;
    padding-top: 150px;
    height: 100vh;
}

#hero-container .hero-title {
    font-size: 50px;
}

.hero-title
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #0040ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mental-image {
    width: 100px;
}

.road-image {
    position: absolute;
    /* max-width: 1100px; */
    left: 0;
    bottom: -1px;
}


/* Contemplate Section */
/* Contemplate Section */
#question-container {
    background-color: rgba(45, 17, 97, 1);
    background-image: url(https://i.pinimg.com/originals/2e/ff/9f/2eff9f54508ac631fb5a85dc20f834d4.gif);
   
    background-size: cover;
    color: white;
    position: relative;
    padding-top: 100px !important;

}

.background-container{
    background-color: rgba(0, 0, 0, 0.2);
}
  .pop-outin {
    animation: 10s anim-popoutin ease infinite;
  }
  
  @keyframes anim-popoutin {
    0% {
      color: black;
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
      color: red;
      transform: scale(1);
      opacity: 1;
      text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
      color: black;
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      transform: scale(0.9);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }
  
/* Features Section */
/* Features Section */
#features {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
/* Quotes of the day */
 #qoutes-container  {
    margin:5px;
    padding: 30px;
    border-radius: 15px;
    height: 80vh;
    background-color: #F79824;
    /* flex-direction: column; */
}


/* Time Capsule */
#time-capsule-container-create {
    margin: 5px;
    padding: 30px;
    border-radius: 15px;
    background-color: #33A1FD;
}

#time-capsule-container {
    margin: 5px;
    padding: 30px;
    border-radius: 15px;
    background-color: #33A1FD;
    display: none;
}

/* Connect Section */
/* Connect Section */
#connect-page {
    padding: 10px;;
    background-color: antiquewhite;
}

#connect-page #volunteer-container {
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    height: 76vh;
    background-color: #f5f0cf;
    color: rgb(126, 122, 122);
    text-align: center;

}
#connect-page #professional-container {
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    height: 75vh;
    background-color: #606060;
    color: white;
    text-align: center;
 
}
/* Footer Section */
/* Footer Section */


