body {
    margin: 0px;
    padding: 0px;
}
.navBar {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 0;
}
.navbar-toggler {
    background-color: aliceblue;
    color: white ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2815, 10, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#hero-container hr {
    border-width: 5px;
}

.mental-image {
    width: 100%;
}
/* Contemplate Section */
/* Contemplate Section */
#question-container {
    background-color: #2d1161;
    color: white;
}
/* Features Section */
/* Features Section */
#features {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
/* Quotes of the day */
 #qoutes-container{
    margin:5px;
    padding: 30px;
    border-radius: 15px;

    background-color: #F79824;
}
/* Time Capsule */
#time-capsule-container {
    margin: 5px;
    padding: 30px;

    border-radius: 15px;
    background-color: #33A1FD;
}

/* Connect Section */
/* Connect Section */
#connect-page {
    padding: 10px;;
    background-color: antiquewhite;
}

#connect-page #volunteer-container {
    margin: 5px;
    border-radius: 5px;
    background-color: #606060;
    color: white;

}
#connect-page #professional-container {
    margin: 5px;
    border-radius: 5px;
    background-color: #606060;
    color: white;
 
}
/* Footer Section */
/* Footer Section */
